<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width,initial-scale=1" />
  <meta name="theme-color" content="#fff" />
  <%- include('src/templates/meta', meta) %>

  <title><%= fn.getCVTitle(cv) %></title>
  <style>
    /* Note: if you add additional styles to this class, you should remove them in `@media print` to ensure .cv-container remains styleless when printing */
    .cv-container {
      border: 1px solid #ccc;
      margin: 10mm auto;
    }
  </style>
  <link rel="stylesheet" href="/src/scss/cv-base.css">
  <link rel="stylesheet" href="/src/themes/<%= theme %>/index.scss">
  <link rel="stylesheet" href="/index.scss">
</head>
<body>
  <div class="cv-container">
    <%- include('src/themes/' + theme + '/index', locals) %>
  </div>

  <% if (!isProduction) { %>
  <!-- import theme ejs to enable HMR -->
  <script type="module">
    import './src/themes/<%= theme %>/index.ejs'
  </script>
  <% } %>
</body>
</html>
