<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title><%= fn.getCVTitle(cv) %></title>
  <style>
    /* styles here should be removed in @media print */
    body {
      border: 1px solid #ccc;
      border-left: 0;
    }
  </style>
  <link rel="stylesheet" href="/src/scss/print.css">
  <link rel="stylesheet" href="/src/themes/<%= theme %>/index.scss">
</head>
<body>
  <div class="cv-container">
    <%- include('src/themes/' + theme + '/index', locals) %>
  </div>

  <% if (!isProduction) { %>
  <!-- import theme ejs to enable HMR -->
  <script type="module">
    import './src/themes/<%= theme %>/index.ejs'
  </script>
  <% } %>
</body>
</html>
