@use '../vars';

.editor-container {
  font-size: 14px;

  h3 {
    margin: 12px 0 12px 0;
  }
  p {
    margin: 0 0 var(--gap) 0;
  }
  iconify-icon {
    font-size: 15px;
  }

  .je-header {
    label {
      font-weight: 700;
      vertical-align: middle;
    }
  }

  // override theme-default
  .je-indented-panel {
    padding-left: calc(var(--gap) * 2);
    padding-bottom: var(--gap);
    margin-left: 0;
    border-left: 1px solid var(--grey-2);
    margin-bottom: var(--gap);
  }

  .je-indented-panel--top {
    padding-left: var(--gap);
    margin-left: var(--gap);
  }

  .form-control {
    margin-bottom: var(--gap);
  }

  .je-form-input-label {
    // only label in user added property should be inline-block
    display: inline-block;
    margin-bottom: calc(var(--gap) / 2);
    font-weight: 500;
  }
  .form-control > .je-form-input-label {
    display: block;
  }
  .je-form-input-description {
    margin: 0;
    font-size: 12px;
    color: #999;
  }
  .je-child-editor-holder {
    margin-bottom: var(--gap);
  }
  .je-header-button-holder {
    display: inline-block;
    margin-left: 10px;
    font-size: 0.8em;
    vertical-align: middle;
  }
  .je-table {
    margin-bottom: 5px;
    border-bottom: 1px solid var(--grep-2);
  }

  /* buttons */
  .je-object__controls {
    display: inline-block;
    position: relative;
    margin-left: calc(var(--gap) * 2);
    top: 2px;

    button {
      @include vars.text-button;
    }
  }
  .json-editor-btn-add {
    background-color: var(--green-0);
    &:hover {
      background-color: var(--green-1);
    }
  }
  .json-editor-btn-subtract {
    background-color: var(--yellow-0);
    &:hover {
      background-color: var(--yellow-1);
    }
  }
  .json-editor-btn-delete {
    background-color: var(--red-0);
    &:hover {
      background-color: var(--red-1);
    }
  }

  .je-textarea {
    height: 120px;
    min-height: 120px;
    max-height: 500px;
    resize: vertical;
  }

  .je-edit-json--textarea {
    width: 300px;
    height: 400px;
    font-family: var(--font-mono);
    font-size: 12px;
  }
}
