@use '../basic';
@use '../vars';
@use 'json-editor';

button {
  font-size: 13px;
}

#main {
  display: grid;
  grid-template-columns: 150px minmax(500px, 1fr) 1fr;
  grid-template-rows: 100vh;

  // keep the middle column 750px wide when the screen is larger that 150 + 2 * 750px
  @media screen and (min-width: 1650px) {
    grid-template-columns: 150px 750px 1fr;
  }

  > .column {
    overflow-y: auto;
  }

  .sidebar {
    padding: 0 var(--gap2) 0 var(--gap);
  }
  .middle {
    padding-right: var(--gap2);
    margin-left: var(--sidebar-width);
  }
  .right {
    border-left: 1px solid var(--grey-2);
  }
}
.editor-container {
  [data-schemapath]:target {
    animation: bgFade 1s forwards;
  }
}

.logo {
  padding: var(--gap2) 0;
  margin-bottom: var(--gap2);
  border-bottom: 1px solid var(--grey-2);
}

.editor-toc {
  padding-left: 5px;
  padding-bottom: var(--gap2);
  margin-bottom: var(--gap2);
  border-bottom: 1px solid var(--grey-2);
  font-size: 15px;

  ul {
    margin: 0;
    padding: 0 0 0 12px;

    li {
      margin: 5px 0;

      ul {
        margin-left: 5px;
      }
    }

    a {
      text-decoration: none;
      color: #333;
      &:hover {
        text-decoration: underline;
      }
    }
  }
}

.app-actions {
  > * {
    margin-bottom: 8px;
  }

  .color-picker {
    @include vars.button-base;
    border: 1px solid var(--grey-2);
    border-radius: 2px;
    padding: 3px 8px;
    font-size: 13px;
    display: block;
    width: 85px;

    &:active {
      border-color: #555;
    }

    .color-area {
      display: flex;
      align-items: center;
      gap: 4px;
    }
    .value {
      user-select: all;
    }

    input[type=color] {
      background: transparent;
      padding: 0;
      border: 0;
      outline: 0;
      width: 20px;
      height: 24px;
      @supports (-moz-appearance:none) {
        width: 16px;
        height: 16px;
      }
    }
  }
}

.output-html {
  // set a fixed size so that responsive styles won't be applied in the iframe
  width: 795px; // 210mm ≈ 793px
  height: 100%;
  margin: 0; padding: 0; border: 0;
  border-right: 1px solid var(--grey-2);
}

.output-json {
  padding: var(--gap);
}

.code-block {
  font-size: 12px;
  font-family: var(--font-mono);
  white-space: pre-wrap;
  word-wrap: break-word;
  overflow-x: auto;
}

dialog {
  width: min(400px, 80%);
}


@keyframes bgFade {
  0% {
    background-color: #FFF3BF;
  }
  50% {
    background-color: #FFF9DB;
  }
  100% {
    background-color: transparent;
  }
}
