/* Naming convention: https://ricostacruz.com/rscss/ */

$color-text-dim: #777;
$color-text-dimmer: #999;
$color-border-dim: #aaa;
$color-border-dimmer: #ccc;
$fz-1: 36px;
$fz-2: 22px;
$fz-3: 18px;
$fz-4: 16px;
$lh-p: 1.4;

:root {
  // overide `--color-primary` in your own css
  --color-primary: #aaa;
}

.cv-container {
  font-size: 14px;
  font-family: system-ui, sans-serif;

  footer {
    break-inside: avoid;
    page-break-inside: avoid;
    margin-top: 3em;
    border-top: 1px solid $color-border-dimmer;
    padding: 4px 0 8px;
    display: flex;
    font-size: 13px;
    color: $color-text-dimmer;
    > div {
      margin-right: 2em;
    }
  }
}

.date-range {
  font-style: italic;
}

a {
  color: $color-text-dim;
  text-decoration: none;
}

a:visited, a:active {
  color: var(--color-primary);
}
a:hover {
  color: var(--color-primary);
  text-decoration: underline;
}

section {
  .section-title {
    margin-top: 3em;
    display: flex;

    h2 {
      font-size: $fz-2;
      font-weight: 600;
      color: var(--color-primary);
      margin: 0;
    }
    .line {
      flex-grow: 1;
      margin: 14px 0 0 1em;
      height: 2px;
      background-color: var(--color-primary);
    }
  }

  .section-item {
    margin-top: 2em;

    h3 {
      font-size: $fz-3;
      line-height: 1.4;
      margin: 0;
    }

    ul {
      margin: .8em 0;
      padding-left: 16px;
      li {
        margin-bottom: .4em;
      }
    }
  }

  svg {
    vertical-align: bottom;
    position: relative;
    bottom: 1px;
  }
  .row {
    margin: .4em 0;
  }
  .p, p {
    line-height: $lh-p;
    margin: .8em 0;
  }
  .subtitle {
    font-size: $fz-4;
    // font-weight: 300;

    @media screen and (max-width: 500px) {
      display: flex;
      align-items: center;
    }
  }

  .space-between {
    display: flex;
    justify-content: space-between;

    a {
      color: $color-text-dim;
    }
  }

  .keywords {
    display: flex;
    flex-wrap: wrap;
    gap: 6px 8px;
    margin-top: .8em;

    .item {
      font-size: 13px;
      color: #555;
      padding: 0 4px;
      height: 22px;
      line-height: 21px;
      background: #f1f1f1;
    }
  }

  .two-columns {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 0 1.5em;

    @media screen and (max-width: 500px) {
      grid-template-columns: 1fr;
    }
  }

  /* helpers */
  ._fz-4 {
    font-size: $fz-4;
  }
  ._ul {
    text-decoration: underline;
  }
  ._text-dim {
    color: $color-text-dim;
  }
}

@media print {
  section {
    .section-title {
      margin-top: 2.7em;
    }
    .section-item {
      margin-top: 1.8em;
    }
  }
}

.basics-section {
  h1 {
    font-size: $fz-1;
    font-weight: 600;
    margin: .2em 0 .2em 0;
  }
  .contact {
    color: $color-text-dim;
    display: flex;
    flex-wrap: wrap;
    gap: .4em 1em;

    @media screen and (max-width: 500px) {
      flex-direction: column;
    }

    .item {
      a {
        color: $color-text-dim;
      }
    }
  }
}

.education-section {
  @media screen and (max-width: 700px) {
    .space-between:nth-of-type(2) {
      flex-wrap: wrap;
      gap: 0.4em;
    }
    .study {
      width: 100%;
    }
  }
}

.work-section {
  .section-item {
    break-inside: auto;
    page-break-inside: auto;
  }
}

.projects-section {
  .space-between {
    @media screen and (max-width: 500px) {
      flex-wrap: wrap;
    }
  }
}

.sideprojects-section {
  .description p:last-of-type {
    margin-bottom: 0;
  }
}
