@mixin button-base {
  appearance: none;
  user-select: none;
  vertical-align: middle;
  outline: 0;
  display: inline-block;
  cursor: pointer;
  position: relative;
}

@mixin normal-button {
  @include button-base;

  background-color: #eee;
  border: 1px solid transparent;
  border-radius: 2px;
  padding: 0px 8px;
  line-height: 22px;

  &:hover {
    background-color: #e1e1e1;
  }
  &:active {
    border-color: #555;
  }
}

@mixin text-button {
  @include button-base;
  background-color: transparent;
  padding: 0;
  font-size: 12px;
  line-height: 1;
  color: #555;
  &:hover {
    border-bottom: 1px solid #999;
  }
  &:active {
    border-color: transparent;
    border-bottom: 1px solid #000;
  }
}

.editor-container {
  font-size: 14px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  --gap: 8px;
  --blue-0: #D0EBFF;
  --blue-1: #A5D8FF;
  --red-0: #FFE3E3;
  --red-1: #FFC9C9;
  --yellow-0: #FFF3BF;
  --yellow-1: #FFEC99;
  --green-0: #D3F9D8;
  --green-1: #B2F2BB;

  h1 {}
  h2 {}
  h3 {
    margin: 12px 0 12px 0;
  }
  p {
    margin: 0 0 var(--gap) 0;
  }
  input[type=text],
  input[type=email] {
    padding: 2px 4px;
  }
  textarea {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    line-height: 1.3;
    padding: var(--gap);
  }
  input[type=text],
  input[type=email],
  textarea {
    border: 1px solid #888;
    border-radius: 2px;
  }
  button {
    @include normal-button;

    margin-right: var(--gap);
    // last-of-type should not be used here
    &:last-child {
      margin-right: 0;
    }

    svg {
      vertical-align: middle;
      font-size: 14px;
      position: relative;
      bottom: 1px;
    }
  }
  iconify-icon {
    font-size: 15px;
  }

  .je-header {
    label {
      font-weight: 700;
      vertical-align: middle;
    }
  }

  // override theme-default
  .je-indented-panel {
    padding-left: calc(var(--gap) * 2);
    padding-bottom: var(--gap);
    margin-left: 0;
    border-left: 1px solid #ddd;
    margin-bottom: var(--gap);
  }

  .je-indented-panel--top {
    padding-left: var(--gap);
    margin-left: var(--gap);
  }

  .form-control {
    margin-bottom: var(--gap);
  }

  .je-form-input-label {
    display: block;
    margin-bottom: calc(var(--gap) / 2);
    font-weight: 500;
  }
  .je-form-input-description {
    margin: 0;
    font-size: 12px;
    color: #999;
  }
  .je-child-editor-holder {
    margin-bottom: var(--gap);
  }
  .je-header-button-holder {
    display: inline-block;
    margin-left: 10px;
    font-size: 0.8em;
    vertical-align: middle;
  }
  .je-table {
    margin-bottom: 5px;
    border-bottom: 1px solid #ccc;
  }

  /* buttons */
  .je-object__controls {
    display: inline-block;
    position: relative;
    margin-left: calc(var(--gap) * 2);
    top: 2px;

    button {
      @include text-button;
    }
  }
  .json-editor-btn-add {
    background-color: var(--green-0);
    &:hover {
      background-color: var(--green-1);
    }
  }
  .json-editor-btn-subtract {
    background-color: var(--yellow-0);
    &:hover {
      background-color: var(--yellow-1);
    }
  }
  .json-editor-btn-delete {
    background-color: var(--red-0);
    &:hover {
      background-color: var(--red-1);
    }
  }

  .je-textarea {
    height: 150px;
    min-height: 150px;
    max-height: 500px;
    resize: vertical;
  }
}
