/* basic elements and shared styles */
@use 'vars';

html,
body * {
  font-family: var(--font-default);
}

html, body {
  margin: 0;
  padding: 0;
}

.logo {
  font-weight: 700;
  user-select: none;
  a {
    color: inherit;
  }
  .t-jsoncv {
    display: inline-block; border: 1px solid #aaa; padding: 2px 4px;
  }
  .t-json {
    color: #aaa;
  }
}

input[type=text],
input[type=email] {
  padding: 2px 4px;
  display: block;
}

textarea {
  font-family: var(--font-default);
  line-height: 1.3;
  padding: var(--gap);
}

input[type=text],
input[type=email],
textarea {
  width: 100%;
  box-sizing: border-box;
}

input[type=text],
input[type=email],
select,
textarea {
  border: 1px solid #999;
  border-radius: 2px;
}

button {
  @include vars.normal-button;

  margin-right: var(--gap);
  // last-of-type should not be used here
  &:last-child {
    margin-right: 0;
  }

  svg {
    vertical-align: middle;
    font-size: 14px;
    position: relative;
    bottom: 1px;
  }

  &.-text {
    @include vars.text-button;
  }
  &.-red {
    background-color: var(--red-0);
    &:hover {
      background-color: var(--red-1);
    }
  }
  &.-green {
    background-color: var(--green-0);
    &:hover {
      background-color: var(--green-1);
    }
  }
  &.-yellow {
    background-color: var(--yellow-0);
    &:hover {
      background-color: var(--yellow-1);
    }
  }
}
