/* variables and mixins */

:root {
  --gap: 8px;
  --gap2: calc(var(--gap) * 2);
  --blue-0: #D0EBFF;
  --blue-1: #A5D8FF;
  --red-0: #FFE3E3;
  --red-1: #FFC9C9;
  --yellow-0: #FFF3BF;
  --yellow-1: #FFEC99;
  --green-0: #D3F9D8;
  --green-1: #B2F2BB;
  --grey-0: #eee;
  --grey-1: #e1e1e1;
  --grey-2: #ddd;
  --color-text-dim: #777;
  --font-default: system-ui,-apple-system,"Segoe UI",Roboto,"Helvetica Neue","Noto Sans","Liberation Sans",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  --font-mono: "Lucida Sans Typewriter", "Lucida Console", monaco, "Bitstream Vera Sans Mono", monospace;
}

@mixin button-base {
  appearance: none;
  user-select: none;
  vertical-align: middle;
  outline: 0;
  display: inline-block;
  cursor: pointer;
  position: relative;
}

@mixin normal-button {
  @include button-base;

  background-color: var(--grey-0);
  border: 1px solid transparent;
  border-radius: 2px;
  padding: 3px 8px;
  // line-height: 22px;

  &:hover {
    background-color: var(--grey-1);
  }
  &:active {
    border-color: #555;
  }
}

@mixin text-button {
  @include button-base;
  background-color: transparent;
  padding: 0;
  font-size: 12px;
  line-height: 1;
  color: #555;
  &:hover {
    border-bottom: 1px solid #999;
  }
  &:active {
    border-color: transparent;
    border-bottom: 1px solid #000;
  }
}
