@mixin button-base {
  appearance: none;
  user-select: none;
  vertical-align: middle;
  outline: 0;
  display: inline-block;
  cursor: pointer;
  position: relative;
}

@mixin normal-button {
  @include button-base;

  background-color: var(--grey-0);
  border: 1px solid transparent;
  border-radius: 2px;
  padding: 0px 8px;
  line-height: 22px;

  &:hover {
    background-color: var(--grey-1);
  }
  &:active {
    border-color: #555;
  }
}

@mixin text-button {
  @include button-base;
  background-color: transparent;
  padding: 0;
  font-size: 12px;
  line-height: 1;
  color: #555;
  &:hover {
    border-bottom: 1px solid #999;
  }
  &:active {
    border-color: transparent;
    border-bottom: 1px solid #000;
  }
}
