/* Mandatory page setup for all themes */
@page {
  /* A4 */
  /* size: 210mm 297mm;  */
  size: A4;
  margin: 10mm; /* approximately 0.4in */
}

/* simulate print page size */
.cv-container {
  width: calc(210mm - 20mm);
  padding: 10mm;
}
@media print {
  /* remove the printing simulations and common decorations , let @page decide the size and margin */
  .cv-container {
    margin: 0;
    padding: 0;
    border: 0;
    width: auto;
  }
}

html {
  margin: 0;
  padding: 0;
}
body {
  margin: 0;
  padding: 0;
  border: 0;
  print-color-adjust: exact;
  -webkit-print-color-adjust: exact;
}

li, p {
  break-inside: avoid;
  page-break-inside: avoid;
}

.section-title {
  break-after: avoid;
  page-break-after: avoid;
}

.page-unit,
.section-item {
  break-inside: avoid;
  page-break-inside: avoid;
}
